<footer class="footer">
    <div class="footer-top">
        <div class="container grid-layout footer-top-container">
            <div class="footer-col-1">
                <a class="subtitle footer-top__link" href="tel:+7 (812) 309 50 32">+7 (812) 309 50 32</a>
                <p class="text6 footer-top__contact-description">Санкт-Петербург, наб. реки Смоленки, 5-7, Технопарк, офис 337, метро Василеостровская</p>
            </div>
            <div class="footer-col-1">
                <a class="subtitle footer-top__link" href="tel:+7 (495) 108 11 78">+7 (495) 108 11 78</a>
                <p class="text6 footer-top__contact-description">Москва, Нововладыкинский проезд, 2с1, метро Владыкино</p>
            </div>
            <div class="footer-col-2">
                <a href="#" class="footer-top__link text6">Наши продукты</a>
                <a href="#" class="footer-top__link text6">Как заказать</a>
            </div>
            <div class="footer-col-2">
                <a href="#" class="footer-top__link text6">Стать партнером</a>
                <a href="#" class="footer-top__link text6">О корпорации YUMA</a>
            </div>
            <div class="footer-col-3">
                <a href="mailto:pr@yuma.biz" class="footer-top__link text6">pr@yuma.biz</a>
                <a href="mailto:sales@yuma.biz" class="footer-top__link text6">sales@yuma.biz</a>
            </div>
            <div class="footer-col-3">
                <a href="#" class="footer-top__link text6">Пользовательское соглашение</a>
                <a href="#" class="footer-top__link text6">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom bar">
        <div class="container grid-layout">
            {% include "svg/logo.html" with theme='dark' %}

            <p class="footer-disclaimer text6">
                <span>Сайт носит исключительно ознакомительный характер и не является публичной офертой.</span>
            </p>

            <div class="footer-socials">
                <a class="social-icon-link" href="#">
                    {% include "svg/youtube.html" %}
                </a>
                <a class="social-icon-link" href="#">
                    {% include "svg/instagram.html" %}
                </a>
                <a class="social-icon-link" href="#">
                    {% include "svg/tg.html" %}
                </a>
            </div>
        </div>
    </div>
</footer>